/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --font-text: "IBM Plex mono", "Courier New", Courier, monospace;
  --accent-bc-color: #ff8dcb;
  --accent-decoration-color: #353430;
  --accent-decoration-color-opacity: rgba(50, 49, 45, 0.4);
  --accent-text-color: #353430;
  --color-heading: #353430;
  --color-text: #353430;
  --color-title: #ffc2e6;
  --color-decoration-element: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --font-text: "IBM Plex mono", "Courier New", Courier, monospace;
    --accent-bc-color: #ff8dcb;
    --accent-decoration-color: #353430;
    --accent-decoration-color-opacity: rgba(50, 49, 45, 0.4);
    --accent-text-color: #353430;
    --color-heading: #353430;
    --color-text: #353430;
    --color-title: #ffc2e6;
    --color-decoration-element: transparent;
  }
}
